body {
    font-family: Arial, sans-serif;
    background-color: #003064;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 nav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
    color: white;
    width: 100%;
 }
 
 nav .logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
 }
 
 nav .nav.items a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
 }
 nav .nav.items a:hover {
    color: #346EEB;
 }
 .title {
    text-align: center;
 }
 .introduction{
   background-color: white;
   padding: 20px;
   margin-bottom: 20px;
   border-radius: 8px;
   box-shadow: 0 2px 4px black;
 }
 .digsites{
   background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    height:600px;
    text-align: center;
    list-style-type: none;
 }
 .digsites img{
    width: 100%;
    max-width: 600px;
    height: auto;
 }
 .digsites ul {
    list-style-type: disc;
    margin-left: 20px;
 }