body {
   font-family: Arial, sans-serif;
   background-color: #f0f0f0;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
}

nav {
   display: flex;
   justify-content: space-between;
   background-color: #333;
   padding: 10px;
   color: white;
   width: 100%;
}

nav .logo a {
   color: white;
   text-decoration: none;
   font-size: 24px;
}

nav .nav.items a {
   color: white;
   text-decoration: none;
   margin-left: 20px;
}
nav .nav.items a:hover {
   color: #346EEB;
}
.portal img{
   width: 200px;
}
.title {
   width: 100%;
   font-size: 48px;
   color: black;
   text-align: center;
   padding: 100px 20px;
   margin: 0px auto;
}
.main-page {
   width: 90%;
   max-width: 1200px;
   margin: 20px auto;
}
.introduction, .news{
   background-color: white;
   padding: 20px;
   margin-bottom: 20px;
   border-radius: 8px;
   box-shadow: 0 2px 4px black;
}
.introduction h2, .news h2 {
   font-size: 32px;
   color: #333;
}
.portal {
   display: flex;
   justify-content: space-around;
   margin-top: 20px;
}
.portal img{
   width: 200px;
   border-radius: 8px;
   transition: transform 0.3s;
}
.portal img:hover{
   transform: scale(1.05);
}
.news-image {
   width: 100%;
   max-width: 500px;
   border-radius: 8px;
   display: block;
   margin: 20px auto;
}
.more-news-button {
   display:block;
   margin : 20px auto;
   padding: 10px 20px;
   background-color: #333;
   color: white;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s;
}
.more-news-button:hover {
   background-color: #2B2E33;
}