p {
    color:black;
}

#prehistoric-archives {
        font-size: larger;
}

.important {
        font-size: larger; color: deepskyblue;
}
    ul  {
        border: 5px solid brown;
        width: 750px;
        padding: 20px;

}
