body {
    .creature-name{
        border-bottom: 10px solid cornflowerblue;
        font-size: 75px;
        padding: 20px;
    }
    .creature-name:hover{
        background-color: blue;
        padding: 30px;
        box-shadow: blue;
        transition: all 1s ease-in;
    }


}